$background-color: #faf9f7;
$container-color: #fffefb;
$green-color: #7bae73;
$orange-color: #ff8484;
$red-color: #ff8484;
$text-color: #3f3f3f;
$label-color: #49485e;
$shadow-color: #000;
$gray-color: #eeeeee;
$disabled-color: #b4b4b4;

$card-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04),
  0px 6px 10px rgba(0, 0, 0, 0.02);
$card-shadow-hover: 0px 20px 30px rgba(0, 0, 0, 0.08),
  0px 6px 10px rgba(0, 0, 0, 0.08);
$input-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
$input-shadow-hover: 0px 2px 10px rgba(0, 0, 0, 0.2);

$body-font: 'Source Sans Pro', sans-serif;

$border-radius: 4px;
$big-border-radius: 10px;

$h1-font-size: 1.75rem;
$h1-line-height: 2.2rem;
$h2-font-size: 1.5rem;
$h2-line-height: 1.885625rem;
$h3-font-size: 1.25rem;
$h3-line-height: 1.57125rem;
$normal-font-size: 1rem;
$normal-line-height: 1.256875rem;
$small-font-size: 0.75rem;
$small-line-height: 0.9425rem;
$smaller-font-size: 0.625rem;
$smaller-line-height: 0.785625rem;
$smaller-letter-spacing: -2%;
$micro-font-size: 0.5rem;
$micro-line-height: 0.62875rem;
$micro-letter-spacing: -2%;

$title-font-weight: 600;
$normal-font-weight: 400;
